{
  "rules": {
    "no-unused-expressions": 0,
    "max-nested-callbacks": [2,5]
  },

  "env": {
    "mocha": true,
    "node": true,
    "browser": true,
    "jquery": true
  },

  "globals": {
    /* testcafe api */
    "act": true,
    "ok": true,
    "eq": true,

    /* helpers */
    "eventTracker": true,
    "browser": true
  }
}
